.breadcrumbs {
  margin: 15px 0;

  > ._items {
    padding: 0;
    margin: 0;

    > ._item {
      font-size: $font-size-fine-print;
      font-weight: $font-weight-light;
      color: $font-color-default;
      padding: 0 5px 0 0;
      display: inline-block;

      > ._link {
        color: $font-color-default;
        text-decoration: underline;
        padding: 0 5px 0 0;
        display: inline-block;

        &:hover,
        &:active,
        &:visited {
          color: $font-color-default;
          text-decoration: none;
        }
      }
    }
  }
}
