.button {
  font-size: $font-size-body-copy;
  font-weight: 600;
  transition: $transition-default;
  border: none;
  cursor: pointer;
  vertical-align: top;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 0;
  }
}
