.button {
  font-size: $font-size-fine-print;
  font-weight: 600;
  transition: $transition-default;
  border: none;
  cursor: pointer;
  vertical-align: top;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 0;
  }

  &.-large-button {
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: $brand-light-gray;
    background: $cta-color;
    padding: 13px 20px;
    border-radius: $border-radius-default;
    box-shadow: $box-shadow-default;
    text-decoration: none;

    &.-validated {
      width: 40px;
      padding: 0;
    }

    &.-tablet-show {
      display: none;

      @media(min-width: 768px) {
        display: inline-block;
      }
    }

    &.-tablet-hide {
      width: 100%;
      height: 60px;
      font-size: 18px;
      font-weight: 400;
      border-radius: 0;
      position: fixed;
      bottom: 0;
      z-index: 0;

      &:hover {
        opacity: 1;
      }

      @media(min-width: 768px) {
        display: none;
      }
    }

    &.-green {
      background: $cta-color;
    }

    &.-desktop-show {
      display: none;

      @media(min-width: 1024px) {
        display: inline-block;
      }
    }
  }

  &.-link-button {
    font-size: $font-size-body;
    font-weight: $font-weight-normal;
    color: $font-color-default;
    text-align: left;
    padding: 10px 10px 0 0;
    margin: 0 10px 0 0;
    display: block;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    position: relative;

    @media(min-width: 768px) {
      padding: 0 17px 0 0;
      display: inline-flex;

      &::after {
        content: '|';
        display: inline-block;
        position: absolute;
        right: 0;
      }

      &:last-of-type::after {
        content: '';
      }
    }
  }

  &.-close {
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    transition: $transition-default;

    &[data-isvisable='false'] {
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    &[data-isvisable='true'] {
      opacity: 1;
      visibility: visible;
      display: block;
    }

    > .material-icons {
      font-size: 20px;
      font-weight: $font-weight-light;
      color: rgba(34,36,38,.7);
    }
  }
}
