.form {
  width: 100%;

  ._label {
    @include font($font-size-body-copy-small, $font-weight-heavy);
    display: inline;
  }

  ._input {
    width: 100%;
    height: 40px;
    background-color: #fff;
    font-size: $font-size-body-copy;
    color: $font-color-default;
    padding: $form-input-padding;
    margin: 5px 0 20px;
    display: block;
    border-radius: 0px;
    border: $border-size $border-color-default;
    box-shadow: $box-shadow-default;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: $font-color-placeholder;
      opacity: 0.5;
      text-align: left;
    }
  }
}
