$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$grid-cols: 12;

$map-grid-props: (
  '': 0,
  '-sm': $breakpoint-sm,
  '-md': $breakpoint-md,
  '-lg': $breakpoint-lg,
  '-xl': $breakpoint-xl
);

@mixin create-media-query($breakpoint) {
  @if($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-media-query($breakpoint) {
    @for $i from 1 through $grid-cols {
      > .col#{$modifier}-#{$i} {
        flex-basis: 100% / ( $grid-cols / $i );
      }
    }
  }
}

.container {
  width: 100%;
  max-width: $breakpoint-xl;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  &--fluid {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    @each $modifier , $breakpoint in $map-grid-props {
      @include create-col-classes($modifier, $grid-cols, $breakpoint);
    }
  }

  @media(min-width: $breakpoint-md) {
    padding: 0 40px;
  }
}
