html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;

  &[data-ismodalopen='false'] {
    overflow: auto;
  }
  &[data-ismodalopen='true'] {
    overflow: hidden;
  }
}

.main-content {
  background: #fff;
  overflow: hidden;
}
