.link {
  @include font($font-size-body-copy, $font-weight-normal);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $font-color-default;
    text-decoration: underline;
  }

  &:visited {
    color: $font-color-default;
  }

  &.-underline {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &.-white {
    color: $font-color-white;

    &:hover,
    &:visited {
      color: $font-color-white;
    }
  }
}
