table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;

  thead {
    border: none;
    border-spacing: 0;
    border-collapse: unset;

    tr {
      border-color: transparent;
      vertical-align: top;
      white-space: normal;
    }
  }

  tbody {
    border-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      border-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;

      td {
        vertical-align: top;
        word-wrap: break-word
      }
    }
  }
}

@media(max-width: 767px) {

  table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		border: none;
		border-right: 1px solid #eee;
		position: relative;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}

.table {
  width: 100%;
  margin: 0 0 30px;

  ._header-row {
    background: #fff;

    ._header-cell {
      @include font($font-size-body-copy-small, $font-weight-normal);
      text-align: left;
      padding: 10px;
      position: relative;
      border-bottom: $border-default;
    }
  }

  ._body-row {
    background-color: #fff;
    transition: $transition-default;

    &:nth-child(even) {
      background: $brand-light-gray;
    }

    ._body-cell {
      width: 100%;
      @include font($font-size-body-copy-small, $font-weight-normal);
      text-align: left;
      margin: 5px 0;
      padding: 10px;

      @include screen(md) {
        margin: 0;
      }
    }
  }
}
