@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + '.eot');
    src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
         url($file-name + '.woff') format('woff'),
         url($file-name + '.ttf')  format('truetype'),
         url($file-name + '.svg##{$font-name}')  format('svg');
    font-weight: $weight;
    font-style: $style;
  }
 }

@include font-face('proxima-nova', '../fonts/ProximaNova-Regular');

$font-family: 'proxima-nova', 'Helvetica', sans-serif;
$font-size-section-title: 28px;
$font-size-section-sub-title: 24px;
$font-size-body-title: 18px;
$font-size-body-copy: 16px;
$font-size-body-copy-small: 14px;
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-heavy: 600;
$font-color-default: $brand-dark-gray;
$font-color-white: #fff;
$font-color-placeholder: $brand-dark-gray;

html {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.5px;
  color: $font-color-default;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font($size, $weight) {
  font-size: $size;
  font-size: calculateRem($size);
  font-weight: $weight;
}

.body-title {
  font-size: $font-size-body-title;
  margin: 0 0 50px 0;
}

.body-copy {
  font-size: rem($font-size-body-copy);
  font-weight: $font-weight-normal;
  margin: 0 0 30px 0;

  &.-white {
    color: $font-color-white;
  }
}
