$brand-red: #991a30;
$brand-dark-gray: #3b3a37;
$brand-blue: #122633;
$brand-light-gray: #eae9e8;
$cta-color: $brand-red;
$error-color: $brand-red;
$hover-background-default: #e9e9e9;

$form-input-width: 270px;
$form-input-height: 40px;
$form-padding: 20px 20px 30px;
$form-input-padding: 10px 15px;
$form-input-border-error: 2px solid $error-color;

$table-header-background: $brand-light-gray;
$table-cell-light: #fff;
$table-cell-dark: $brand-light-gray;
$table-cell-padding: 20px;

$border-radius-default: 5px;
$border-radius-large: 20px;
$border-size: 1px solid;
$border-color-default: rgba(34,36,38,.3);
$border-default: $border-size $border-color-default;
$border-color-error: $brand-red;

$box-shadow-color: rgba(0,0,0,.15);
$box-shadow-default: 0 2px 4px 0 $box-shadow-color;

$modal-overlay-default: rgba(0, 0, 0, 0.7);
